/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --base-colour: white;
  --base-variant: white;
  --text-colour: black;
  --base-variant: #e8e9ed;
  --primary-colour: #3a435d;
}

.darkmode {
  --base-colour: black;
  --base-variant: black;
  --text-colour: white;
  --base-variant: #e8e9ed;
  --primary-colour: #3a435d;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1800px;
  width: 1800px;
  margin: 0 auto;
}

header {
  background-color: var(--base-colour);
  border-bottom: 1px solid rgb(88, 88, 88);
  border-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 85px;
}
header #theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header #theme-switch svg {
  fill: var(--primary-color);
}
header #theme-switch svg:last-child {
  display: none;
}
header .darkmode #theme-switch svg:first-child {
  display: none;
}
header .darkmode #theme-switch svg:last-child {
  display: block;
}
header .logo {
  width: 80px;
  height: 80px;
}
header li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  gap: 40px;
}
header a {
  color: var(--text-colour);
  -webkit-font-feature-settings: "liga" off, "clig" off;
          font-feature-settings: "liga" off, "clig" off;
  font-family: Rockwell;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}

body {
  background-color: var(--base-colour);
}

.s1 img {
  max-width: 1250px;
  max-height: 715px;
}
.s1 h5 {
  color: var(--text-colour);
  font-family: "Rockwell Extra Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 70px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.s1 h1 {
  color: var(--text-colour);
  font-family: "Rockwell Extra Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 70px;
  margin-bottom: 10px;
}
.s1 h6 {
  color: var(--text-colour);
  font-family: "Rockwell Extra Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 70px;
  margin-bottom: 40px;
}
.s1 .button {
  background-color: var(--base-colour);
  border: 1px solid var(--text-colour);
  width: 300px;
  height: 75px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
}
.s1 .button h2 {
  color: var(--text-colour);
  font-family: "Rockwell Extra Bold";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.s1 .fotodawarwerebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s1 .button:hover {
  background-color: orange;
  border: none;
}
.s1 .button:hover h2 {
  color: var(--text-colour);
}

.games {
  margin-bottom: 100px;
}
.games h2 {
  color: var(--text-colour);
  font-family: "Rockwell Extra Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 150px;
}
.games .tamashebi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 120px;
}
.games .yutebi1,
.games .yutebi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px;
}
.games .box1 {
  background-image: url(https://store-images.s-microsoft.com/image/apps.34695.13738414994700897.d5f58586-d72e-41d4-84db-1e7957867558.fea84892-88a9-44cf-98d3-07bda55b2444);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-top: 70px;
  width: 300px;
  height: 450px;
}
.games .box1:hover {
  width: 320px;
  border-radius: 5%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.games .box2 {
  background-image: url(https://image.api.playstation.com/vulcan/ap/rnd/202306/1219/60eca3ac155247e21850c7d075d01ebf0f3f5dbf19ccd2a1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-top: 70px;
  width: 300px;
  height: 450px;
}
.games .box2:hover {
  width: 320px;
  border-radius: 5%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.games .box3 {
  background-image: url(https://i5.walmartimages.com/seo/The-Last-Of-Us-Gaming-Poster-Print-Key-Art-Game-Cover-24-X-36_7b6cad54-1f38-4679-b595-670c20c5cad6.05372cc22265ec7cd206e0643215c8dc.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-top: 70px;
  width: 300px;
  height: 450px;
}
.games .box3:hover {
  width: 320px;
  border-radius: 5%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.games .box4 {
  background-image: url(https://m.media-amazon.com/images/M/MV5BNjJiNTFhY2QtNzZkYi00MDNiLWEzNGEtNWE1NzBkOWIxNmY5XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-top: 70px;
  width: 300px;
  height: 450px;
}
.games .box4:hover {
  width: 320px;
  border-radius: 5%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.container1 {
  width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1800px) {
  header {
    margin-left: 50px;
  }
}
@media (max-width: 1620px) {
  .games {
    margin-left: 80px;
  }
}
@media (max-width: 420px) {
  .s1 img {
    max-width: 1050px;
    max-height: 515px;
  }
  .games {
    width: 1600px;
  }
  .games h2 {
    margin-top: 150px;
  }
  .games .tamashebi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 20px;
  }
  .games .yutebi1,
  .games .yutebi2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    gap: 100px;
  }
}/*# sourceMappingURL=global.css.map */