.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: var(--base-colour);
  border-bottom: 1px solid rgb(88, 88, 88);
  border-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 85px;

  #theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #theme-switch svg {
    fill: var(--primary-color);
  }
  #theme-switch svg:last-child {
    display: none;
  }
  .darkmode #theme-switch svg:first-child {
    display: none;
  }
  .darkmode #theme-switch svg:last-child {
    display: block;
  }
  .logo {
    width: 80px;
    height: 80px;
  }

  li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 40px;
  }
  a {
    color: var(--text-colour);
    font-feature-settings: "liga" off, "clig" off;
    font-family: Rockwell;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
}

body {
  background-color: var(--base-colour);
}

@media (max-width: 1800px) {
  header {
    margin-left: 50px;
  }
}

.s1 {
  background-image: url(https://image.api.playstation.com/vulcan/img/rnd/202011/1215/WyHa1BM3ISDVqYSEUMB9VZJs.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1980px;
  width: 100%;
  height: 800px;
  div {
    img {
      padding-top: 150px;
      padding-left: 100px;
    }
  }
}
.s2 {
  .div1 {
    margin: 0 auto;
    margin-top: 40px;
    width: 850px;
    p {
      color: var(--text-colour);
      font-feature-settings: "liga" off, "clig" off;
      font-family: Rockwell;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 1px;
    }
  }
  .button {
    background-color: var(--base-colour);
    border: 1px solid var(--text-colour);
    width: 300px;
    height: 75px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    h2 {
      color: var(--text-colour);
      font-family: "Rockwell Extra Bold";
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }
  .button:hover {
    background-color: orange;
  }
}
