:root {
  --base-colour: white;
  --base-variant: white;
  --text-colour: black;
  --base-variant: #e8e9ed;
  --primary-colour: #3a435d;
}
.darkmode {
  --base-colour: black;
  --base-variant: black;
  --text-colour: white;
  --base-variant: #e8e9ed;
  --primary-colour: #3a435d;
}
